.isi-produk {
  padding: 5rem 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.isi-produk .judul-produk {
  text-align: center;
  font-size: 2rem;
  display: inline-block;
}

.isi-produk .judul-produk::after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 0.5rem solid var(--primary);
}

.isi-produk .container-card-produk {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.isi-produk .container-card-produk .card-produk {
  width: 20rem;
  background-color: white;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* flex: 1 1 30rem; */
  gap: 1rem;
  box-shadow: 0 0 8px rgb(101, 101, 101);
}

.isi-produk .container-card-produk .card-produk img {
  width: 100%;
}

.isi-produk .container-card-produk .card-produk .tombol-produk {
  padding: 0.5rem 2rem;
  background-color: var(--primary);
  font-size: 1rem;
  margin-top: 1rem;
}

.card-produk .tombol-produk:hover {
  cursor: pointer;
}
